.food-card {
  border: var(--border);
  /* border-radius: var(--radius); */
  overflow: hidden;
  position: relative;
  height: 400px;
}
.food-card img {
  width: 100%;
  height: 200px;
  border-bottom: var(--border);
  object-fit: cover;
}
.food-body {
  margin: 15px;
}
.food-card .btn {
  width: 105%;
  margin-bottom: -2px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.btn-text {
  margin-right: 10px;
}
