/* Header & nav bar */
.header {
  background: var(--rose-color);
  height: 4rem;
  display: flex;
  align-items: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--White-color);
  border-bottom: 4px solid var(--White-color);
}
.nav-items {
  display: flex;
  gap: 2rem;
}
.nav-items a {
  color: var(--White-color);
  transition: var(--transition);
}
.nav-item:hover a {
  color: var(--secondry-color);
}
