@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  border: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--primary-color);
}
:root {
  --primary-color: #1a1a40;
  --secondry-color: #11468f;
  --rose-color: #da1212;
  --white-color: #eeeeee;
  --transition: all 400ms ease;
  --border: 1px solid var(--rose-color);
  --radius: 10px;
  --container-lg: 85%;
  --container-md: 90%;
  --container-sm: 94%;
  --shadow: 0 0 10px 2px rgba(0, 0, 0, 0.365);
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
  font-size: 18px;
}
.btn {
  background-color: var(--rose-color);
  color: var(--white-color);
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  box-shadow: var(--shadow);
  background-color: var(--primary-color);
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}
@media (max-width: 920px) {
  .container {
    width: var(--container-md);
  }
}
@media (max-width: 678px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  .container {
    width: var(--container-sm);
  }
}
